<ion-content padding>
    <h2 class="correct-head" *ngIf="question.respuesta == answer">
        Correcto
    </h2>

    <h2 class="incorrect-head" *ngIf="!(question.respuesta == answer)">
        Incorrecto
    </h2>

    <ion-avatar>
        <img src="../../assets/imgs/juridico2.png" />
    </ion-avatar>

      <ion-card>
        <ion-card-content>
            <p>{{question.pregunta}}</p>
            <p class="correct">{{question.respuestas[question.respuesta]}}</p>
            <p class="incorrect" *ngIf="!(question.respuesta == answer)">{{question.respuestas[answer]}}</p>
        </ion-card-content>
    </ion-card>

<button ion-button block (click)="continue()">
  <div>Continuar</div>
</button>
</ion-content>
