page-respuesta {
    .home {
        text-align: center;
        justify-content: center;
        align-items:center;
        //background: #fff;
    }

    .correct {
        color: color($colors, secondary);
        font-weight: bold;
        font-size: 2rem !important;
    }

    .incorrect {
        color: color($colors, danger);
    }

    .correct-head {
        text-align: center;
        color: color($colors, secondary);
    }

    .incorrect-head {
        text-align: center;
        color: color($colors, danger);
        // color: white;
        // border-radius: 10px;
    }

    p {
        font-size: 1.7rem !important;
        padding: 0px 16px;
        text-align: center;
    }

    ion-avatar {
        img {
            width: 50%;
            margin: 0 auto;
        }
    }
}
